/*
* Header
*/
.header {
  border-bottom: 1px solid #e5e5e5;
}    

.navbar {
  margin-bottom: 0;
  padding: 5px 0;
  font-size: 15px;
}

.navbar-default {
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: #555555;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #428BCA;
}

.navbar-default .navbar-nav > li > a {
  color: #555555;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #428BCA;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #428BCA;
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #aaa;
}

.navbar-default .navbar-toggle:hover .icon-bar {
  background-color: #bbb;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #428BCA;
  background-color: transparent;
}

.navbar-default .dropdown-menu {
  background-color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #555555;
  font-size: 15px;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover {
  color: #428BCA;
  background-color: transparent;
}

.browsehappy {
  margin: 0;
  background: #ccc;
  color: #000;
  padding: 10px;
  text-align: center;
}

/*
* Content
*/
.content {
  padding: 20px 15px;
}

.alert {
	margin: 0 0 10px 0;
}

.alert ul {
	padding-left: 10px;
}

/*
* Lists
*/
.list-item {
  padding: 15px 0;
	border-top: 1px solid #e5e5e5;
}

.list-item:first-child {
	padding-top: 0;
  border: 0;
}
  
.items .list-item:last-child {
  padding-bottom: 0;
}

.list-item h5 {
  margin: 0;
  line-height: 1;
}

.list-item h5 a {
  text-decoration: none;
}

.list-item h5 .label {
  padding: 0.2em 0.5em;
  font-weight: 400;   
  vertical-align: bottom;
}

.list-item p {
  margin: 15px 0 0 0;
}

.list-actions {
  line-height: 1;
}

.list-actions a {
  padding-left: 5px;
  display: none;
}

.list-item:hover .list-actions a {
  display: inline-block;
}

.bootstrap-dialog .modal-header {
  -webkit-border-radius: 0; 
  -moz-border-radius: 0; 
  border-radius: 0; 
}

.pagination {
  margin: 0;
  float: right;
}

.empty-list {
  margin: 15px 0;
}

/*
* Forms
*/
.main-form .control-label {
  font-size: 14px;
}

.main-form .control-label:first-child {
  text-align: left;
}

.main-form h4 {
  margin: 25px 0 15px 0;
}

.login-form .input-group {
  margin-top: 25px;
}

.login-form .input-group:first-child {
  margin-top: 0;
}        

.login-form .checkbox {
  padding-top: 0;
  margin: 10px 0;
  min-height: 0;
}

.login-form .forgot-password {
  padding: 9px 0 10px 0;
  font-size: 14px;
}

form .btn-sm {
  font-size: 14px;
}

/*
* jQuery UI Timepicker plugin
*/
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-widget {
	font-size: 0.8em;
	line-height: 1;
}

.ui-datepicker {
	width: auto;
}

/*
* Dropzone jQuery upload plugin
*/
.dropzone {
  margin-top: 20px;
}

.dropzone {
  font-size: 0.8em;
}

.dropzone .dz-remove {
  margin-left: 3px;
}

.dropzone .dz-preview,
.dropzone-previews .dz-preview {
  margin: 10px;
}

/*
* Footer
*/
.footer {
  padding: 20px 10px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin: 0;
  font-size: 0.9em;
}

.footer a {
  color: #666666;
}

@media (min-width: 992px) {
  .container-fluid {
    max-width: 970px;
  }
}

/*
* Helpers
*/
.no-bottom-margin {
  margin-bottom: 0;
}